<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="../static/main.css" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Blog</title>
</head>

<body>
  <a href="/" class="main-title">
    Blog
  </a>

  <div class="login-area">
    <a href="/blog/newpost">Newpost</a>
    {% if user %}
      <a class="login-link" href="/{{user.name}}">{{user.name}}</a>
    {% endif %}
    {% if user %}
      <a class="login-link" href="/logout">logout</a>
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

