<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/login-reset.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>  
    <link rel="stylesheet" href="../static/login-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      
  </head>
</head>

<body>
        <div class="header">
        <ul>
            <li><span title="Home"><a href="/">Home</a></span></li>|
            <li><span title="Upload Something"><a href="/blog/newpost">Create Newpost</a></span></li>
            {% if user %}
                |<li><span title="Profile"><a href="/{{user.name}}">{{user.name}}</a></span></li>
                |<li><span><a href="/logout">Logout</a></span></li>
            {% else %}
                |<li><span><a href="/login">Login</a></span></li>
                |<li><span><a href="/signup">Sign Up</a></span></li>
            {% endif %}
        </ul>

    </div>
    
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
  <script type="text/javascript">
      $(document).ready(function () {
          $(".user-tab").click(function () {
              $(".username").slideToggle("slow");
          });
      });
</script>
</body>

</html>

